body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 18px;
    word-wrap: break-word;
}

.entity {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: transparent;
}

.entity .label {
    position: absolute;
    top: -1.5em;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.75em;
    white-space: nowrap;
}


.entity.EVENT { background-color: #FFD700; }  /* Gold */
.entity.IP { background-color: #FF6347; }  /* Tomato */
.entity.PERSON { background-color: #7FFFD4; }  /* Aquamarine */
.entity.LOCATION { background-color: #8A2BE2; }  /* BlueViolet */
.entity.URL { background-color: #5F9EA0; }  /* CadetBlue */
.entity.ORGANIZATION { background-color: #FF69B4; }  /* HotPink */
.entity.SKILL { background-color: #CD5C5C; }  /* IndianRed */
.entity.MISCELLANEOUS { background-color: #4B0082; }  /* Indigo */
.entity.EMAIL { background-color: #7CFC00; }  /* LawnGreen */
.entity.DATETIME { background-color: #20B2AA; }  /* LightSeaGreen */
.entity.PRODUCT { background-color: #87CEFA; }  /* LightSkyBlue */
.entity.PHONENUMBER { background-color: #778899; }  /* LightSlateGray */
.entity.QUANTITY { background-color: #32CD32; }  /* LimeGreen */
.entity.ADDRESS { background-color: #FF4500; }  /* OrangeRed */
.entity.PERSONTYPE { background-color: #DA70D6; }  /* Orchid */
