<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Named Entity Recognition</h1>
        <form method="POST">
            <textarea name="sentence" rows="4" cols="50" placeholder="Enter a sentence...">{{ sentence }}</textarea><br>
            <button type="submit">Predict</button>
        </form>
        {% if result %}
            <h2>Result:</h2>
            <p id="result">
                {{ result }}
            </p>
        {% endif %}
    </div>
</body>
</html>
